#snip {
  background: #00ff00;
  border: none;
  color: #ffffff;
  font-family: 'Poppins', Arial, sans-serif;
  font-size: 17.5px;
  font-weight: 500;
  margin: 15px 30px;
  outline: none;
  padding: 0 43px 0 0;
  font-family: FontAwesome;
  background-color: #c72544;
  padding: 1px 20px;
  border-radius: 0 5px 5px 0;
  -webkit-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
}
#snip span {
  background-color: #c72544;
  border-radius: 5px 0 0 5px;
  padding: 10px 20px;
  -webkit-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
}

#snip:hover span,
#snip.hover span {
  background-color: #ba2340;
}

#snip:hover,
#snip.hover {
  margin-top: -5px;
  background-color: #da3655;
  box-shadow: -5px 10px 20px rgba(0, 0, 0, 0.5);
}



#myGrid {
    background-color: cyan;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

#myChildTop {
    background-color: white;
}

#myButton_red{
    background-color: red;
    color: white;
    font-family: DejaVu Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    border-radius: 15px;
}

#myButton_yellow{
    background-color: yellow;
    color: white;
    font-family: DejaVu Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    border-radius: 15px;
}

#myButton_green{
    background: green;
    color: white;
    font-family: DejaVu Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    border-radius: 15px;
}

#myButton_blue{
    background-color: blue;
    color: white;
    font-family: DejaVu Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    border-radius: 15px;
}

#myButton_red:hover,
#myButton_yellow:hover,
#myButton_green:hover,
#myButton_blue:hover{
   background-color: black;
}

#main_place {
	background: #00ff00;
}
